* {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    position: relative;
}

#readout {
    width: 300px;
    background-color: rgb(58, 56, 56);
    color: chartreuse;
    display: inline-block;
    border: 2px solid black;
}

.display {
    margin: auto;
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    
}

.footer {
    display: flex;
    justify-content: center;
    width: 1500px;
    background-color: rgb(58, 56, 56);
    border: 2px solid black;
}

.manual {
    max-width: 500px;
    min-width: 100px;
    color:cadetblue;
    border: 2px solid green;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    padding: 10px;
}

.sprites {
    display: none;
}

.alert {
    color: red;
    font-weight: bold;
    text-align: center;
}

.message {
    position: absolute;
    width: 1200px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameMsg {
    color: cyan;
    display: none;
}